<div class="container-fluid header">
  <img class="header__logo" routerLink="" src="assets/Component%201%20–%201.svg" alt="logo">
  <button (click)="changePosition()" href="" class="header__toggle-button">
    <span class="header__bar"></span>
    <span class="header__bar"></span>
    <span class="header__bar"></span>
  </button>
  <nav class="header__nav" [ngClass]="{'header__nav--position':openNavigation}">
    <ul class="header__list">
      <li class="header__item">
        <button class="header__btn" [matTooltip]="tooltipInfo">Web Design</button>
      </li>
      <li class="header__item">
        <button class="header__btn" (click)="onMenuItemSelect('element2')">Our Projects</button>
      </li>
      <li class="header__item">
        <button class="header__btn" (click)="onMenuItemSelect('element2')">About Us</button>
      </li>
      <li class="header__item">
        <button class="header__btn" (click)="onMenuItemSelect('element2')">Blog</button>
      </li>
      <li class="header__item">
        <app-button routerLink="/forms" [description]="nameInput"></app-button>
      </li>
    </ul>
  </nav>

</div>
