@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__img1 {
    margin-left: 20px;
    cursor: pointer;
  }

  .nav {
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 10px;
    .btn{
      background-color: white;
      border: none;
      text-transform: uppercase;
      font-weight: bolder;
    }

    .btn:hover{
      color:#694bf5;
    }

    .button {
      text-decoration: none;
      color: black;
      text-align: center;
      cursor: pointer;
    }
  }
}
