h2 {
  font-size: 14px;
  text-transform: uppercase;
}

.con {
  background-color: #f4f4f4;
  padding: 124px 40px;

  .title {
    h1 {
      font-size: 5.5vw;
      font-weight: 600;
    }

    img {
      margin-top: 56px;
      width: 21.7vw;
      min-width: 290px;
    }
  }

  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

  }

  .icons {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;

    .icon {
      height: 30px;
      width: auto;
      padding: 5px 15px;
      background-color: #fff;
      border-radius: 20px;
      margin-right: 20px;
      margin-top: 15px;
    }

  }
}
