.section {
  margin-left: 5vw;
  margin-top: 20px;
  padding-bottom: 130px;

  &__logo {
    width: 100%;
    transform: translate(10%, 10%);
  }

  &__title {
    font-size: 5.5vw;
  }

  &__tag {
    font-size:14px;
    background-color: #f4f4f4;
    border-radius: 40px;
    padding: 5px 7.5px;
    margin-left: 20px;
    @media (min-width: 992px) {

    }
  }

  .form {
    margin-top:30px;
    display: flex;
    flex-direction: column;
  }

  .btn{
    display:flex;
    justify-content: center;
  }
}
