 <section class="container-fluid new">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-11">
      <h2 class="new__title" id="element2">Blog</h2>
      <h1 class="new__subtitle">
        <strong>Latest News From The</strong>
        <strong> World Of Web Development</strong></h1>
    </div>
  </div>
  <div class="new__articles row justify-content-lg-center">
    <div class="col-12 col-lg-11">
      <div class="row new__row">
        <div class="new__column col-sm-9 col-md-6 col-lg-4 pb-sm-0 pb-5">
          <h2 class="new__date">January 20TH, 2023</h2>
          <h1 class="new__titleArticle">What happens when you do not update WordPress site?</h1>
          <p class="new__description">So, you have decided that you are unsure whether to update your WordPress website.
            You may think what’s the worst thing that could happen?</p>
          <div class="new__link"> <a href="#" >READ</a></div>
          <img class="img" src="../../../../assets/crypto_laundering_GettyImages-1349088550.png" alt="crypto">
        </div>
        <div class="new__column col-sm-9 col-md-6 col-lg-4 pb-sm-0 pb-5">
          <h2 class="new__date">January 20TH, 2023</h2>
          <h1 class="new__titleArticle">Post-launch WordPress maintenance checklist.</h1>
          <p class="new__description">So, you have decided that you are unsure whether to update your WordPress website.
            You may think what’s the worst thing that could happen?</p>
          <div class="new__link">  <a href="#" >READ</a></div>
          <img class="img" src="../../../../assets/Google-Downtown-West-Lawsuit-Concept-Business-1147548368.png" alt="crypto">
        </div>
        <div class="new__column col-sm-9 col-md-6 col-lg-4 pb-sm-0 pb-5">
          <h2 class="new__date">January 20TH, 2023</h2>
          <h1 class=new__titleArticle>Why WordPress support & maintenance is for your website?</h1>
          <p class="new__description">So, you have decided that you are unsure whether to update your WordPress website.</p>
          <div class="new__link"> <a href="#" >READ</a></div>

          <img class="img" src="../../../../assets/resource-database-F_z2cHsOXnM-unsplash@2x.png" alt="crypto">
        </div>
      </div>
    </div>
  </div>
</section>
