<div class="container-fluid">
  <div class="main">
    <div class="combine">
      <div class="line" id="{{element1}}"></div>
      <p>Our Wise Service</p>
    </div>

    <h1>Jamstack & WordPress Fast Websites.</h1>
    <div class="text">    <span>Duis vel sollicitudin metus. Nam blandit sapien a odio semper mollis.
      Integer pulvinar ex eget sem euismod, id placerat justo egestas.
      Cras eleifend leo in turpis mollis ornare. Nunc efficitur ipsum nisi,
      vitae sollicitudin sem commodo non. Duis  porttitor tempor volutpat.
      Morbi viverra, mauris non aliquet feugiat, dui lacus consectetur mi,
      vel rutrum eros lacus feugiat augue.
      Pellentesque auctor velit nec orci scelerisque ultricies.</span>
    </div>
    <div class="box">
      <app-button class="button" [themeButton]="ThemeButton.accent" [description]="nameInput"></app-button>
    </div>

  </div>
</div>



∂
