//
//.main {
//  height: 810px;
//  text-align: center;
//  padding: 87.5px 0 90px;
//  .combine {
//    text-align: center;
//    position: relative;
//    padding-left: 40px;
//    text-transform: uppercase;
//    font-weight: bolder;
//    font-size: 14px;
//    display: inline-block;
//    margin: auto;
//    .line {
//      position: absolute;
//      left: 0;
//      top:50%;
//      width: 30px;
//      border: 1px solid #694BF5;
//      transform:translateY(-50%);
//    }
//.text{
//  display:flex;
//  justify-content:center;
//
//
//  p {
//    text-transform: uppercase;
//    font-weight: bolder;
//    font-size: 14px;
//    text-align: center
//  }
//}
//  }
//
//  h1 {
//    font-size: 86px;
//    text-align: center
//  }
//
//  .box {
//    display: flex;
//    justify-content: center;
//
//    .button {
//      width: 200px;
//      margin-top: 20px;
//    }
//  }
//
//}
.main {
  display: flex;
  justify-content: center;
  padding: 87.5px 0 91px;
.textLine{
  display: flex;
  justify-content: center;
  .combine {
    text-align: center;
    position: relative;
    padding-left: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;
    display: inline-block;
    margin: auto;

    .line {
      position: absolute;
      left: 0;
      top: 50%;
      width: 30px;
      border: 1px solid #694BF5;
      transform: translateY(-50%);
    }
}

  }
  .title{
    padding:24.5px 0 38.5px;
    font-size: 5.5vw;
    text-align: center;
  }
  .text{
   padding: 0 ;
    text-align: center;
    margin: auto;
  }
  .button{
   text-align: center;
  }
}
