<div class="container-fluid ">
  <div class="row main">
    <div class="col-md-9 col-lg-8">
      <div class="textLine">
        <div class="combine"><span class="line" id="{{element1}}"></span>
          Our Wise Service
        </div>
      </div>
      <h2 class="title">Jamstack & WordPress Fast Websites.</h2>
    </div>
    <div class="col-md-9 col-lg-8">
      <div class="text">
        <p>Duis vel sollicitudin metus. Nam blandit sapien a odio semper mollis.
          Integer pulvinar ex eget sem euismod, id placerat justo egestas.
          Cras eleifend leo in turpis mollis ornare. Nunc efficitur ipsum nisi,
          vitae sollicitudin sem commodo non. Duis porttitor tempor volutpat.
          Morbi viverra, mauris non aliquet feugiat, dui lacus consectetur mi,
          vel rutrum eros lacus feugiat augue.
          Pellentesque auctor velit nec orci scelerisque ultricies.</p>
      </div>

    </div>
    <app-button class="button" [themeButton]="ThemeButton.accent" [description]="nameInput"></app-button>
  </div>
</div>
