.topic{
  text-transform: uppercase;
}
.mainTitle{
  font-size: 80px;
}

.box{
  margin: auto;
  padding: 20px;

  .date{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .title{
    font-size:35px;
    text-align: start;
  }
  .img{
    height: 183px;
    width: 476px;
  }
}
