<div class="container-fluid">

  <div class="line"></div>
  <h2 class="topic">Blog</h2>
  <h1 class="mainTitle">Latest News From The World Of Web Development</h1>
  <div class="row  box">
    <div class="col-4 column">
      <h2 class="date">January 20TH, 2023</h2>
      <h1 class="title">What happens when you do not update WordPress site?</h1>
      <p class="description">So, you have decided that you are unsure whether to update your WordPress website.
        You may think what’s the worst thing that could happen?</p>
      <a class="">READ</a>
      <img class="img" src="assets/crypto_laundering_GettyImages-1349088550.png" alt="crypto">
    </div>
    <div class="col-4">
      <h2 class="date" >JULY 5TH, 2022</h2>
      <h1 class="title">Post-launch WordPress maintenance checklist.</h1>
      <p class="description" >WordPress maintenance services are invaluable.
        They are invaluable to any website owner who wants to keep their WordPress site.</p>
      <a>READ</a>
      <img  class="img" src="assets/Google-Downtown-West-Lawsuit-Concept-Business-1147548368.png" alt="crypto">
    </div>
    <div class="col-4">
      <h2  class="date">JUNE 23RD, 2022</h2>
      <h1  class="title">Why WordPress support & maintenance is crucial for your website?</h1>
      <p class="description">WordPress support & maintenance services are an ongoing process to ensure the safety and
        optimization of your website.</p>
      <a>READ</a>
      <img  class="img" src="assets/resource-database-F_z2cHsOXnM-unsplash@2x.png" alt="crypto">
    </div>

  </div>
</div>
